# Data Cleaning

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8

In [17]:
#parse data
df_index = pd.read_csv("oci_2015_datasd.csv")
df_collisions = pd.read_csv("pd_collisions_datasd.csv")
df_traffic = pd.read_csv("traffic_counts_datasd.csv")
df_meters = pd.read_csv("treas_parking_meters_loc_datasd.csv")

#drop OCI columns
df_index.drop( columns = "seg_id", inplace = True )
df_index.drop( columns = "seg_length_ft", inplace = True )
df_index.drop( columns = "seg_width_ft", inplace = True )
df_index.drop( columns = "street_from", inplace = True )
df_index.drop( columns = "street_to", inplace = True )
df_index.drop( columns = "oci_wt", inplace = True )
df_index.drop( columns = "pvm_class", inplace = True )
df_index.drop( columns = "func_class", inplace = True )

#drop collision columns
df_collisions.drop( columns = "report_id", inplace = True )
df_collisions.drop( columns = "cross_st_name", inplace = True )
df_collisions.drop( columns = "cross_st_type", inplace = True )
df_collisions.drop( columns = "street_dir", inplace = True )
df_collisions.drop( columns = "cross_st_dir", inplace = True )
df_collisions.drop( columns = "violation_section", inplace = True )
df_collisions.drop( columns = "violation_type", inplace = True )
df_collisions.drop( columns = "charge_desc", inplace = True )
df_collisions.drop( columns = "injured", inplace = True )
df_collisions.drop( columns = "killed", inplace = True )
df_collisions.drop( columns = "hit_run_lvl", inplace = True )

#drop traffic columns
df_traffic.drop( columns = "id", inplace = True )
df_traffic.drop( columns = "all_count", inplace = True )
df_traffic.drop( columns = "northbound_count", inplace = True )
df_traffic.drop( columns = "southbound_count", inplace = True )
df_traffic.drop( columns = "eastbound_count", inplace = True )
df_traffic.drop( columns = "westbound_count", inplace = True )
df_traffic.drop( columns = "file_no", inplace = True )

      street_name                limits  total_count           count_date
0           01 AV         A ST - ASH ST        18010  2007-03-13 00:00:00
1           01 AV         A ST - ASH ST        20060  2010-03-18 00:00:00
2           01 AV         A ST - ASH ST        19597  2013-03-12 00:00:00
...           ...                   ...          ...                  ...
11656      ZOO PL  PARK BL - FLORIDA DR         5595  2014-05-24 00:00:00
11657      ZOO PL  PARK BL - FLORIDA DR         4425  2014-12-16 00:00:00
11658      ZOO PL  PARK BL - FLORIDA DR         6274  2018-04-17 00:00:00

[11659 rows x 4 columns]